*{
    margin-top: 2px;
    font-size: 16px;
    font-family:'Roboto', sans-serif;
}
#main{
    border-radius: 10px;
    width: 100%;
    background-color:#DBDED8;
    border: 3px splid #7F807D;
}
#main> .intro{
    text-align: center;
    padding-top: 1%;
}
#title{
    font-size: 60px;
}
.intro> p{
    margin-top: -40px;
}
#img-div{
    margin: 0 5% 0 5%;
    background-color: #EEEFED;
    padding-top: 20px;
}
#image{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
#img-caption{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}
#tribute-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tribute-info> .heading> h4{
    font-size: 1.8em;
    padding-top: 20px;
}
#tribute-info> ul{
    margin-left: 25%;
    margin-right: 25%;
}
#tribute-info> ul> li{
    margin-top: 10px;
}
#tribute-info> .quote{
    margin: 4% 3% 4% 2%;
    text-align: end;
    line-height: 30px;
}
#tribute-info> .reference{
    margin: 0% 4% 0% 4%;
    text-align: center;
}
@media (max-width: 824px) {
    #title{
        font-size: 50px;
    }
    #tribute-info> ul{
        margin-left: 10%;
        margin-right: 10%;
    }
}